.content {
    background-color: #6E7DAB;
    overflow: auto;
    /* height: 90vh; */
}

.navbar {
    background-color: #32292F;
    padding: 15px !important; 
}

.navbar-brand {
    color: white;
    padding-left: 0 !important;
} 

.nav-link {
    width: fit-content;
    color: rgba(255, 255, 255, 0.55);
}

.nav-link:hover {
    color: white;
    transition: all .4s;
}

.navbar-nav > .active {
    color: white !important;
    border-bottom: solid white 5px;
    /* box-sizing: border-box; */
}

.header-text {
    font-size: 80px;
} 

footer {
    background-color: #32292F;
    color: rgba(255, 255, 255, 0.55);
}  
.navbar-collapse {
    transition: all .3s;
}

.my-btn-primary {
    background-color: #6E7DAB !important;
    border-color: #6E7DAB !important;
    color: white;
}
.my-btn-primary:hover {
    background-color: #5d6a8c !important;
    color: white !important;
    border-color: #2b2429;

}
.home-info, .question-box {
    background-color: #2b2429 !important;
    color: white !important;
}

.question-answer {
    font-size: 25px;
    display: flex;
  align-items: center
}

.question-answer input[type="radio"] {
    transform: scale(1.4);
}

.question-answer label {
    min-width: 100px;
}
.btn-submit {
    background-color: #32292F !important;
    border-color: #32292F !important;
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.75rem !important;
}
.btn-submit:hover {
    background-color: #2a2227 !important;
    border-color: #2a2227 !important;
    color: rgba(255, 255, 255, 0.55);
}